<template>
  <h1>Todo Appications</h1>
  <form @submit.prevent="addTodo()">
    <label>New Todo</label>
    <input type="text" v-model="contend" />
    <button>Add Todo</button>
  </form>

  <h2>Todo List ({{ todos.length }})</h2>
  <ul>
    <li v-for="(todo, index) in todos" :key="index">
      <span
        :class="{ done: todo.done, notDone: !todo.done }"
        @click="doIt(todo)"
        >{{ todo.contend }}</span
      >
      <button @click="removeTodo">x</button>
    </li>
  </ul>
</template>

<script>
export default {
  name: 'App',
  data () {
    return {
      todos: [
        { contend: 'กินข้าว', done: false },
        { contend: 'เกือบแตก', done: true }
      ],
      contend: ''
    }
  },
  methods: {
    addTodo () {
      console.log(this.contend)
      this.todos.push({ contend: this.contend, done: false })
      this.contend = ''
    },
    removeTodo (index) {
      this.todos.splice(index, 1)
    },
    doIt (todo) {
      todo.done = !todo.done
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
